beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.7.14
charset-normalizer==3.4.2
fuzz==0.1.1
fzf.py==0.0.1
idna==3.10
lxml==6.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
memoize==1.0.0
mypy==1.17.1
mypy_extensions==1.1.0
pathspec==0.12.1
prompt_toolkit==3.0.51
Pygments==2.19.2
questionary==2.1.0
RapidFuzz==3.13.0
requests==2.32.4
rich==14.1.0
sleeper-api-wrapper==1.1.0
soupsieve==2.7
termcolor==3.1.0
texteditor==1.4.1
the==0.1.5
thefuzz==0.22.1
typing_extensions==4.14.1
urllib3==2.5.0
wcwidth==0.2.13
